.App {
  text-align: center;
  background-color: #F0EFEB;
  padding-right: 40px;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  
}

.article-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #FDE2E4;
  border-style: groove;
  padding-left: 10px;
  padding-right: 10px
}

@media only screen and (max-width: 600px) {
  .article-card {
      flex-direction: column;
      align-items: wrap;
  }
}

.topic-links {}
